html
{
    font-size: 62.5%;
}
body
{
    color: #1c1d1c;
    text-align: center;
    /* font-family: Arial; */
}
p
{
    font-size: 2rem;
}
#cabecera
{
    background: #055e79;
    box-shadow: 0rem 2rem 20rem 0rem rgba(0, 0, 0, 0.5);
    color: #e7e7e7;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}

.container
{
    width: 70%;
    padding: 0;
    text-align: center;
    border: #055e79 solid .1rem;
    margin: auto;
}

#cabecera #tagline
{
    padding: 0 0 0 .1rem;
    font-weight: normal;
    font-size: 0.8rem;
}

#post
{
    margin: 1.5rem;
    background: #fafafa;
    padding: .5rem;
    border:  #055e7952 solid .1rem;  
    box-shadow: 0rem 2rem 20rem 0rem rgba(15, 80, 105, 0.356);  
}
.img_intro
{
    width: 30rem;
}